# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Dataset
data/
dataset/
datasets/
*.zip

# Kaggle
kaggle.json

# TensorFlow
logs/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Trained models
models/
*.h5
*.keras
